# Auto detect text files and perform LF normalization
* text=auto

# HTML
*.html text eol=lf

# CSS
*.css text eol=lf

# JavaScript
*.js text eol=lf

# Images
*.png binary
*.jpg binary
*.jpeg binary
*.gif binary
*.ico binary
*.svg text eol=lf

# Documents
*.pdf binary

# Archives
*.zip binary
*.tar binary
*.gz binary
